/* body {
  padding: 10px;
  font-family: sans-serif;
} */

/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
  #map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
}

#carousel-name{
  font-size: 25px;
  font-family: "Lucida Console", Monaco, monospace;
}
